.m-select-current{position: relative; padding: 0 10px;color: #888888;border: 1px solid #333333; cursor: default;}
.m-select-icon{position: absolute;top: 4px;right: 5px;color: #888888;font-size: 12px;transform: rotate(180deg);}
.m-select-icon.active{transform: rotate(0deg);}
.m-select-list-wrap{display: none; cursor: default;}
.m-select-list-wrap.active{display: block;position: relative;}
.m-select-list{position: absolute;top: 2px;left: 0;margin: 0;padding: 0;width: 100%; z-index: 999;background: rgba(0,0,0,1);}
.m-select-list-item{padding: 0 10px;list-style-type: none;cursor: default;color: #888888;}
.m-select-list-item:hover{ background: #444444; }
.m-select-list-item.active{ background: #222222; }




