html, body{width: 100%; height: 100%;}
#root{height: 100%;}
.m-wrap{position: relative;height: 100%;background: rgba(0,0,0,0.7);}
.m-pop{position: absolute;top: 50%;left: 50%; width:400px;height: 600px; transform: translate(-50%,-50%);background: #FF0000;transition:background 0.8s linear;}
.m-pop:hover{background: #FFFF00;}
.m-select{margin: 10px; width: 200px;}


